:root {
  --max-site-width: 1920px;
  --max-sec-width: 1752px;
  --sec-width: 91%;
  --black: #060606;
  --text: #C8C8C8;
  --black2: #0F0F0F;
  --white: #FFFFFF;
  --gradient-green: linear-gradient(180deg, #3DFF88 0%, #259951 100%)
}

body {
  color: var(--text);
  background: var(--black);
  font-family: var(--font-poppins), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em;
}

main {
  padding-top: 103px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}