.herobg {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;
}

.wrapper {
    z-index: 1;
    width: var(--sec-width);
    max-width: var(--max-sec-width);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.left {
    padding-top: 114px;
    padding-bottom: 97px;
    width: 50%;
    max-width: 711px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.heroheading {
    font-weight: 800;
    font-size: 43px;
    line-height: 1.2;
    color: var(--white);
}

.herosubheading {
    font-size: 17px;
}

.heroimage {
    padding-top: 58px;
    padding-right: 4%;
    aspect-ratio: 630 / 527;
    width: 45%;
    max-width: 630px;
    height: auto;
}

.gradientSeparator {
    width: 100%;
    height: 5px;
    background: var(--gradient-green-2-vanishing);
    border-radius: 2px;
    z-index: 1;
}

/* Tablet Styles */
@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left {
        padding-top: 80px;
        padding-bottom: 60px;
        width: 100%;
        max-width: 100%;
        gap: 45px;
        align-items: center;
        text-align: center;
    }

    .upper {
        align-items: center;
        gap: 20px;
    }

    .heroheading {
        font-size: 36px;
    }

    .herosubheading {
        font-size: 15px;
    }

    .heroimage {
        padding-top: 0;
        padding-right: 0;
        width: 70%;
        max-width: 500px;
    }

    .gradientSeparator {
        height: 4px;
    }
}

/* Mobile Styles */
@media (max-width: 700px) {
    .left {
        padding-top: 50px;
        padding-bottom: 40px;
        gap: 35px;
    }

    .upper {
        gap: 18px;
    }

    .heroheading {
        font-size: 28px;
        line-height: 1.3;
    }

    .herosubheading {
        font-size: 14px;
        line-height: 1.6;
    }

    .heroimage {
        width: 90%;
        max-width: 400px;
    }

    .gradientSeparator {
        height: 3px;
    }
}